* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.signup-box {
    background-color: #121212;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.logo img {
    width: 120px;
    margin-bottom: 20px;
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: white;
}

form label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    color: #b3b3b3;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #3e3e3e;
    border-radius: 5px;
    background-color: #3e3e3e;
    color: white;
    font-size: 14px;
    outline: none;
}

.use-phone a {
    color: #1DB954;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

.use-phone a:hover {
    text-decoration: underline;
}

.next-button {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: none;
    border-radius: 25px;
    background-color: #1DB954;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
.next-button a{
    color: white;
    text-decoration: none;
}

.next-button a:hover{

    text-decoration: none;
}
.next-button:hover {
    background-color: #1aa34a;
}

.divider {
    margin: 20px 0;
    color: #b3b3b3;
    position: relative;
}

.divider::before,
.divider::after {
    content: '';
    width: 40%;
    height: 1px;
    background-color: #3e3e3e;
    position: absolute;
    top: 50%;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.social-btn {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #3e3e3e;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c1c1c;
}

.social-btn img {
    height: 20px;
    margin-right: 10px;
}

.google-btn:hover {
    background-color: #4285F4;
}

.fb-btn:hover {
    background-color: #3b5998;
}

.apple-btn:hover {
    background-color: #000;
}

.login-text {
    margin-top: 20px;
    color: #b3b3b3;
}

a {
    color: #1DB954;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.privacy-text {
    color: #b3b3b3;
    font-size: 12px;
    margin-top: 20px;
}

